body{
    background-color: rgb(221, 194, 198);
}
h1{
color: rgb(93, 61, 121);
font-family:monospace;

}
.foto-border{
    border-color: rgb(65, 44, 51);
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-radius: 10px;


}
p.background-details{
    color: rgb(119, 66, 168);

}
a{
    color: rgb(168, 11, 147);
    font-size: 15px;
    
}