* {
  box-sizing: border-box;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background-color: #DDE0E3;
  color: #414141;
  line-height: 1.4em;
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.main-header {
  font-size: 2em;
  padding: 20px;
  text-align: center;
}

p {
  padding: 5px;
}

ul li {
  list-style-type: none;
}

a {
  font-style: italic;
  color: #414141;
}

div.information {
  width: 500px;
  float: left;
}

div.information img {
  width: 350px;
  float:left;
  display: block;
}