
h1{

    color:rgb(255, 0, 128);
}


h2{

     color:blue;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table { background-color: rgb(154, 203, 226);
      
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }
    
    th{
      text-align: left;
      font-size: 20px;
      padding: 16px;
      color: red;
    } 
    
    td {
      text-align: left;
      padding: 16px;
    }
    
    tr:nth-child(even) { 
      background-color: #f2f2f2
    }
